@use 'variables';
@use 'fontsStyles';

.user-block {
   background: linear-gradient(variables.$main-darkColor 70%, #0b3f3d 100%);
   width: 100%;
   padding: 50px 0;
   
   &__form {
      margin-bottom: 30px;

      .input-user {
         display: flex;
         margin-left: 2px;

         &__name {
            width: 350px;
            background-color: variables.$input-color;
            border: 1px solid variables.$supplemental-color2;
            border-radius: 5px; 
            padding: 10px 20px; 
            margin-right: 20px;
            @include fontsStyles.fontSize;
            @include fontsStyles.lineHeight28($fontW: 600);
         }
         input[type="text"]::-webkit-input-placeholder {
            color: variables.$supplemental-color2;
         } 
         &__button-posts {
            @extend %primary-button;
           
            @include fontsStyles.fontSize;
            @include fontsStyles.lineHeight28;
            @include variables.buttonHover;
         }
         &__button-posts:hover {
            background: darken(variables.$primary-buttonColor, 15%);
            @include variables.buttonHover;
         }
      }
      .user-block__error-string {
         align-items: center;
         display: flex;
         margin-left: 2px;

         .user-block__error-icon {
            background: url(/icons/warning.png);  
            background-size: cover;
            width: 20px;
            height: 20px;
            margin-right: 10px;
         }
         .user-block__error-message{
            color: variables.$main-lightColor;
            @include fontsStyles.fontSize($size: 12px);
            @include fontsStyles.lineHeight28($fontW: 400); 
            margin: 0px 0px;
         }
      }
   }
   .users-posts {
      .posts-count {
         @include fontsStyles.fontSize($size: 18px);
         @include fontsStyles.lineHeight32($fontW: 600);
         color: variables.$main-lightColor;
         margin-left: 2px;
      }
     
      .posts-list  {
         @include variables.listSetting;
         li {
            margin-bottom: 30px;
            
            .user__post {
               border: none;
               width: 1020px;
               
               .post {
                  @include variables.tableDataStyle;
                  
                  &__message h3 {
                     @include fontsStyles.fontSize($size: 18px);
                     @include fontsStyles.lineHeight32($fontW: 500);
                     color: variables.$primary-buttonColor;
                     margin-top: 0px;
                     margin-bottom: 10px;
                  }
                  &__message p {
                     @include fontsStyles.fontSize;
                     @include fontsStyles.lineHeight24($fontW: 500);
                     color: variables.$main-darkColor;
                     margin-bottom: 40px;  
                  }
                  &__comments {
                     @include fontsStyles.userText;
                     align-items: center;
                     padding-top: 10px;
                     margin-top: 10px;
                     border-top: 1px solid variables.$supplemental-color2;
                     width: auto; 
                  }
               } 
               .user__feedback {
                  @include variables.tableDataStyle;
                   
                  .commented-user {
                     display: flex;
                     align-items: center;
                     padding-bottom: 10px;
                     margin-bottom: 10px;
                     border-bottom: 1px solid variables.$supplemental-color2;
                     width: auto;

                     &__icon {
                        background: url(/icons/user.png);  
                        background-size: cover;
                        width: 24px;
                        height: 24px;
                        margin-right: 15px;
                     }
                     p {
                        @include fontsStyles.userText;
                     }
                  }
                  h6 {
                     @include fontsStyles.fontSize;
                     @include fontsStyles.lineHeight24($fontW: 500);
                     color: variables.$main-darkColor;
                     margin-top: 0px;
                     margin-bottom: 10px;
                     
                  }
                  p {
                     @include fontsStyles.userText;  
                  }
               }
            }
         }
      }
   }
}
/*---MEDIA-QUERIES-----------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
   .user-block {
      padding: 20px 0;
      &__form {
         position: relative;
         padding-top: 40px;
         
         .input-user {
            display: block;
            margin: 0;
            text-align: center;
   
            &__name {
               width: 290px;
               margin-right: 0;
               margin: 10px auto;
               box-sizing: border-box;
            }
            &__button-posts {
               margin: 10px auto;
            }
         }
         .user-block__error-string {
            width: 290px;
            position: absolute;
            top: 0;
            right: calc(50% - 145px);
            margin-left:0;

            .user-block__error-message{
              
               line-height: 20px;
               margin: 0px 0px;
            }
         }
      }
      .users-posts {
         .posts-count {
            @include fontsStyles.fontSize($size: 16px);
            @include fontsStyles.lineHeight28($fontW: 600);
           
            margin-left: 15px;
         }
         .posts-list  {
            li {
               .user__post {
                  width: 100%;
                  
                  .post {
                     &__message h3 {
                        @include fontsStyles.fontSize($size: 16px);
                        @include fontsStyles.lineHeight24($fontW: 500);
                     }
                     &__message p {
                        @include fontsStyles.lineHeight20;
                        margin-bottom: 30px;  
                     }
                  }
                  .user__feedback {
                     h6 {
                        @include fontsStyles.lineHeight20;
                     }
                     p {
                       @include fontsStyles.lineHeight20; 
                     }
                  } 
               }
            }
         }
      }     
   }   
}