@use 'fontsStyles';
@use 'variables';
@use 'topBanner';
@use 'introPage';
@use 'videoPage';
@use 'reviewsPage';
@use 'teamsPage';
@use 'recordingPage';
@use 'footer';

body {
    margin: 0;
    flex-direction: column;
 
    .container {
        max-width: 1020px;
        padding: 0px 15px;
        margin: 0px auto;
        align-items: center;  
    }
}
/*---MEDIA-QUERIES-----------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container{
        min-width: 290px;
        max-width: 450px;
    }
}